{% extends "base.html" %}
{% block title %} Add a task {% endblock %}
{% block content %}

<h1>Add a new task</h1>


<form method="POST">
    <textarea name="note" id="note" class="form-control" placeholder="Add your task here"> </textarea>

    <p class="label" >Who should do this Task?</p>
    {% for user in usernames %}
    <input type="radio" name="foruser" value="{{ user.name }}">
    <label for="username" > {{ user }} </label>
    {% endfor %}
    <input type="radio" name="foruser" value="both">
    <label for="both"> Both </label>

    <p class="label"> Is this a daily task?</p>
    <input type="radio" id="yes" name="dailytask" value="yes">
    <label for="yes"> Yes </label> 
    <input type="radio" id="no" name="dailytask" value="no">
    <label for="no"> No </label> 

    <label class="label" for="duration"> How long will this task take approximately? </label>
    <select name="duration" id="duration">
        <option value="5">5 minutes or less</option>
        <option value="10">10 minutes</option>
        <option value="15">15 minutes</option>
        <option value="20">20 minutes</option>
        <option value="25">25 minutes</option>
        <option value="30">30 minutes</option>
        <option value="40">40 minutes</option>
        <option value="50">50 minutes</option>
        <option value="60">1 hour</option>
        <option value="75">1 hour 15 minutes</option>
        <option value="90">1 hour 30 minutes</option>
        <option value="120">2 hours</option>
    </select> 
    <br>
    <br>    
    <button type="submit" class="btn btn-primary">Add Note</button> 
</form>


<br>


<footer class="footer">
    <hr>
    <div class="container">
        <p class="text-muted">Milena's first app</p>
    </div>
</footer>

{% endblock %}