{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>Daily chores </h1>

<main>
  <div class="container table-responsive">          
    <table class="table">
        <thead>
        <tr>
            <th id="task-id">Note ID</th>
            <th id="task">Task</th>
            <th id="status">Status</th>
            <th id="user">For</th>
            <th id="duration">Duration</th>
            <th id="update">Remove</th>
        </tr>
        </thead>
  
        <tbody>
        {% for note in notes %}
        {% if note.dailytask==True %}
            <tr>
                <td>{{note.id}}</td>
                <td>{{note.data}}</td>
  
                {% if note.finish==True %}
                <td><a href="{{ url_for('views.updateStatus', id=note.id) }}"  data-source="{{note.id}}"> Completed </a></td>
                {% else %}
                <td><a href="{{ url_for('views.updateStatus', id=note.id) }}" data-source="{{note.id}}"> Not completed </a></td>
                {% endif %}
                <td data-source="{{ note.note_id }}" >{% for user in note.user_id %}{{ user }} {% endfor %}</td>
                <td>{{note.duration}} min</td>
                <td><button type="button" onClick="deleteNote({{ note.id }})">Remove</button></td>
            </tr>
        {% endif %}
        {% endfor %}    
        </tbody>
    </table>
 </div>
</main>

<footer class="footer">
  <hr>
  <div class="container">
    <p class="text-muted">Milena's first app</p>
  </div>
</footer>

{% endblock %}
