{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>Hello {{ user }} ! Nice to see you! </h1>

<main>

  <h2>To-Do List</h2>
  <div class="container table-responsive">          
  <table class="table">
    <thead>
    <tr>
      <th id="task">Task</th>
      <th id="status">Status</th>
      <th id="update">Remove</th>
      <th id="duration">Duration</th>
      <th id="user">For</th>
    </tr>
    </thead>
    <tbody>
  {% for note in notes %}
  {% if note.dailytask==False %}
    <tr>
      <td>{{note.data}}</td>
  {% if note.finish==True %}
      <td><a href="{{ url_for('views.updateStatus', id=note.id) }}"  data-source="{{note.id}}"> Completed </a></td>
  {% else %}
      <td><a href="{{ url_for('views.updateStatus', id=note.id) }}" data-source="{{note.id}}">Not completed</a></td>
  {% endif %}
      <td><button type="button" onClick="deleteNote({{ note.id }})">Remove</button></td>
      <td> {{note.duration}} min </td>
      <td data-source="{{ note.note_id }}" >{% for user in note.user_id %}{{ user }} {% endfor %}</td>
    </tr>
  {% endif %}
  {% endfor %}     
    </tbody>
  </table>
  </div><br><hr><br>

  <h2>Daily chores</h2><br>

  <div class="container table-responsive">          
    <table class="table">
      <thead>
      <tr>
        <th id="task">Task</th>
        <th id="status">Status</th>
        <th id="duration">Duration</th>
        <th id="user">For</th>
      </tr>
      </thead>
      <tbody>
  {% for note in notes %}
  {% if note.dailytask==True %}
      <tr>
        <td>{{note.data}}</td>
  {% if note.finish==True %}
        <td><a href="{{ url_for('views.updateStatus', id=note.id) }}"  data-source="{{note.id}}">Completed</a></td>
  {% else %}
        <td><a href="{{ url_for('views.updateStatus', id=note.id) }}" data-source="{{note.id}}">Not completed</a></td>
  {% endif %}
        <td> {{note.duration}} min </td>
        <td data-source="{{ note.note_id }}" >{% for user in note.user_id %}{{ user }} {% endfor %}</td>
      </tr>
  {% endif %}
  {% endfor %}    
    </tbody>
  </table>
 </div>
</main>

<footer class="footer">
  <hr>
  <div class="container">
    <p class="text-muted">Milena's first app</p>
  </div>
</footer>

{% endblock %}
